


{% if items %}
    {% for item in items %}

        <h3><a href="{{ item.full_url }}" title="{{ item.first_name }} {{ item.last_name }}">{{ item.first_name }} {{ item.last_name }}</a></h3>

        <a href="{{ item.full_url }}" title="{{ item.first_name }} {{ item.last_name }}">{{ item.first_name }} {{ item.last_name }}</a>

        {% if  item.description %}
        <p>
            {{ item.description|truncate(5) }}
        </p>
        {% endif %}

        {% if  item.image %}
        <p>
            <a href="{{ item.full_url }}" title="{{ item.name }}"><img src="{{ FRONTEND_FILES_URL }}/Team/image/400x/{{ item.image }}" alt="{{ item.name }}" /></a>
        </p>
        {% endif %}

        <p>

            <a href="{{ item.full_url }}" title="{{ item.name }}">{{ 'lbl.ReadMore'|trans|ucfirst }}</a>
        </p>

    {% endfor %}
{% endif %}

{% include "#{THEME_PATH}/Core/Layout/Templates/Partials/Pagination.html.twig" %}
